{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}

  <h1>Parolni tiklash</h1>
  <p>Parolingizni o`zgartirish uchun quyidagi formani to`ldiring</p>
  {% if validlink %}

    <p>Yangi parolni ikki marotaba kiriting</p>
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <p><button type="submit">Parolni almashtirish</button> </p>
    </form>

  {% else %}
    <p>Siz foydalangan email linki eskirgan yoki avval foydalanilgan. Iltimos qaytadan urinib ko`ring.</p>

  {% endif %}

{% endblock content %}