{% extends 'news/base.html' %}

{% block title %}Admin Sahifasi{% endblock title %}

{% block content %}

    <h1>Admin sahifasi</h1>
    <h3>Barcha adminlar</h3>
    <table class="table table-bordered table-responsive table-stripped">
        <tr>
            <th>Username</th>
            <th>Ismi </th>
            <th>Familiyasi </th>
<!--            <th>Tug`ilgan sanasi</th>-->
<!--            <th>Rasmi</th>-->
        </tr>
<!--        {% for profile in  admin_profile %}-->
        {% for user in admin_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
<!--            <td>{{ profile.date_of_birth }}</td>-->
<!--            <td><img src="{{ profile.photo.url }}" alt="admin rasmi" height="20%" width="20%" class="center"></td>-->
        </tr>
        {% endfor %}
<!--        {% endfor %}-->
    </table>
    <h2>
        <a href="{% url 'news_create' %}" class="text-primary">Yangilik qo`shish</a>
    </h2>

{% endblock content %}